In [1]:
from pyspark.sql import SparkSession

# Tạo Spark session
spark = SparkSession.builder \
    .appName("HiveExample") \
    .config("spark.sql.catalogImplementation", "hive") \
    .enableHiveSupport() \
    .getOrCreate()

# Tạo database mới (nếu chưa có)
spark.sql("CREATE DATABASE IF NOT EXISTS my_database")

# Chọn database mới
spark.sql("USE my_database")

# Tạo bảng khách hàng
spark.sql("""
    CREATE TABLE IF NOT EXISTS customers (
        customer_id INT,
        customer_name STRING,
        contact_name STRING,
        country STRING
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Tạo bảng đơn hàng
spark.sql("""
    CREATE TABLE IF NOT EXISTS orders (
        order_id INT,
        order_date STRING,
        customer_id INT,
        amount DOUBLE
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Tạo bảng sản phẩm
spark.sql("""
    CREATE TABLE IF NOT EXISTS products (
        product_id INT,
        product_name STRING,
        supplier_id INT,
        category STRING,
        price DOUBLE
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Chèn dữ liệu vào bảng khách hàng
spark.sql("""
    INSERT INTO TABLE customers VALUES
    (1, 'Alfreds Futterkiste', 'Maria Anders', 'Germany'),
    (2, 'Centro comercial Moctezuma', 'Francisco Chang', 'Mexico'),
    (3, 'Ernst Handel', 'Roland Mendel', 'Austria')
""")

# Chèn dữ liệu vào bảng đơn hàng
spark.sql("""
    INSERT INTO TABLE orders VALUES
    (101, '2024-01-01', 1, 150.00),
    (102, '2024-02-15', 2, 200.00),
    (103, '2024-03-10', 3, 250.00)
""")

# Chèn dữ liệu vào bảng sản phẩm
spark.sql("""
    INSERT INTO TABLE products VALUES
    (1, 'Chai', 1, 'Beverages', 18.00),
    (2, 'Chang', 1, 'Beverages', 19.00),
    (3, 'Aniseed Syrup', 2, 'Condiments', 10.00)
""")

# Kiểm tra dữ liệu trong bảng khách hàng
spark.sql("SELECT * FROM customers").show()

# Kiểm tra dữ liệu trong bảng đơn hàng
spark.sql("SELECT * FROM orders").show()

# Kiểm tra dữ liệu trong bảng sản phẩm
spark.sql("SELECT * FROM products").show()

# Kết thúc Spark session
spark.stop()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/02 04:00:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/02 04:00:45 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/06/02 04:00:45 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
24/06/02 04:00:46 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
24/06/02 04:00:46 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore UNKNOWN@172.21.0.6
24/06/02 04:00:46 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException
24/06/02 04:00:47 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
24/06/02 04:00:48 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
24/06/02 04:00:48 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/06/02 04:00:48 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

+-----------+--------------------+---------------+-------+
|customer_id|       customer_name|   contact_name|country|
+-----------+--------------------+---------------+-------+
|          3|        Ernst Handel|  Roland Mendel|Austria|
|          3|        Ernst Handel|  Roland Mendel|Austria|
|          2|Centro comercial ...|Francisco Chang| Mexico|
|          1| Alfreds Futterkiste|   Maria Anders|Germany|
|          2|Centro comercial ...|Francisco Chang| Mexico|
|          1| Alfreds Futterkiste|   Maria Anders|Germany|
+-----------+--------------------+---------------+-------+

+--------+----------+-----------+------+
|order_id|order_date|customer_id|amount|
+--------+----------+-----------+------+
|     101|2024-01-01|          1| 150.0|
|     102|2024-02-15|          2| 200.0|
|     101|2024-01-01|          1| 150.0|
|     103|2024-03-10|          3| 250.0|
|     103|2024-03-10|          3| 250.0|
|     102|2024-02-15|          2| 200.0|
+--------+----------+-----------+------+

+----------+-------------+-----------+----------+-----+
|product_id| product_name|supplier_id|  category|price|
+----------+-------------+-----------+----------+-----+
|         2|        Chang|          1| Beverages| 19.0|
|         1|         Chai|          1| Beverages| 18.0|
|         3|Aniseed Syrup|          2|Condiments| 10.0|
|         1|         Chai|          1| Beverages| 18.0|
|         3|Aniseed Syrup|          2|Condiments| 10.0|
|         2|        Chang|          1| Beverages| 19.0|
+----------+-------------+-----------+----------+-----+

In [2]:
from pyspark.sql import SparkSession

# Tạo Spark session
spark = SparkSession.builder \
    .appName("HiveExample") \
    .config("spark.sql.catalogImplementation", "hive") \
    .enableHiveSupport() \
    .getOrCreate()

# Tạo database mới (nếu chưa có)
spark.sql("CREATE DATABASE IF NOT EXISTS hivedb")

# Chọn database mới
spark.sql("USE hivedb")

# Tạo bảng khách hàng
spark.sql("""
    CREATE TABLE IF NOT EXISTS customers (
        customer_id INT,
        customer_name STRING,
        contact_name STRING,
        country STRING
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Tạo bảng đơn hàng
spark.sql("""
    CREATE TABLE IF NOT EXISTS orders (
        order_id INT,
        order_date STRING,
        customer_id INT,
        amount DOUBLE
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Tạo bảng sản phẩm
spark.sql("""
    CREATE TABLE IF NOT EXISTS products (
        product_id INT,
        product_name STRING,
        supplier_id INT,
        category STRING,
        price DOUBLE
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Chèn dữ liệu vào bảng khách hàng
spark.sql("""
    INSERT INTO TABLE customers VALUES
    (1, 'Alfreds Futterkiste', 'Maria Anders', 'Germany'),
    (2, 'Centro comercial Moctezuma', 'Francisco Chang', 'Mexico'),
    (3, 'Ernst Handel', 'Roland Mendel', 'Austria')
""")

# Chèn dữ liệu vào bảng đơn hàng
spark.sql("""
    INSERT INTO TABLE orders VALUES
    (101, '2024-01-01', 1, 150.00),
    (102, '2024-02-15', 2, 200.00),
    (103, '2024-03-10', 3, 250.00)
""")

# Chèn dữ liệu vào bảng sản phẩm
spark.sql("""
    INSERT INTO TABLE products VALUES
    (1, 'Chai', 1, 'Beverages', 18.00),
    (2, 'Chang', 1, 'Beverages', 19.00),
    (3, 'Aniseed Syrup', 2, 'Condiments', 10.00)
""")

# Kiểm tra dữ liệu trong bảng khách hàng
spark.sql("SELECT * FROM customers").show()

# Kiểm tra dữ liệu trong bảng đơn hàng
spark.sql("SELECT * FROM orders").show()

# Kiểm tra dữ liệu trong bảng sản phẩm
spark.sql("SELECT * FROM products").show()

# Kết thúc Spark session
spark.stop()

24/06/02 04:00:51 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/06/02 04:00:51 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
24/06/02 04:00:51 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException
24/06/02 04:00:51 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
24/06/02 04:00:51 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
24/06/02 04:00:51 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/06/02 04:00:51 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

+-----------+--------------------+---------------+-------+
|customer_id|       customer_name|   contact_name|country|
+-----------+--------------------+---------------+-------+
|          1| Alfreds Futterkiste|   Maria Anders|Germany|
|          3|        Ernst Handel|  Roland Mendel|Austria|
|          1| Alfreds Futterkiste|   Maria Anders|Germany|
|          2|Centro comercial ...|Francisco Chang| Mexico|
|          3|        Ernst Handel|  Roland Mendel|Austria|
|          2|Centro comercial ...|Francisco Chang| Mexico|
+-----------+--------------------+---------------+-------+

+--------+----------+-----------+------+
|order_id|order_date|customer_id|amount|
+--------+----------+-----------+------+
|     101|2024-01-01|          1| 150.0|
|     102|2024-02-15|          2| 200.0|
|     103|2024-03-10|          3| 250.0|
|     103|2024-03-10|          3| 250.0|
|     102|2024-02-15|          2| 200.0|
|     101|2024-01-01|          1| 150.0|
+--------+----------+-----------+------+

+----------+-------------+-----------+----------+-----+
|product_id| product_name|supplier_id|  category|price|
+----------+-------------+-----------+----------+-----+
|         1|         Chai|          1| Beverages| 18.0|
|         1|         Chai|          1| Beverages| 18.0|
|         3|Aniseed Syrup|          2|Condiments| 10.0|
|         2|        Chang|          1| Beverages| 19.0|
|         3|Aniseed Syrup|          2|Condiments| 10.0|
|         2|        Chang|          1| Beverages| 19.0|
+----------+-------------+-----------+----------+-----+

In [3]:
from pyspark.sql import SparkSession

# Tạo Spark session
spark = SparkSession.builder \
    .appName("HiveExample") \
    .config("spark.sql.catalogImplementation", "hive") \
    .enableHiveSupport() \
    .getOrCreate()

# Tạo cơ sở dữ liệu
spark.sql("CREATE DATABASE IF NOT EXISTS student")

# Chọn cơ sở dữ liệu
spark.sql("USE student")

# Tạo bảng teacher
spark.sql("""
    CREATE TABLE IF NOT EXISTS teacher (
        id INT,
        name STRING,
        subject STRING
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Tạo bảng student
spark.sql("""
    CREATE TABLE IF NOT EXISTS student (
        id INT,
        name STRING,
        age INT,
        teacher_id INT
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Tạo bảng course
spark.sql("""
    CREATE TABLE IF NOT EXISTS course (
        id INT,
        name STRING,
        teacher_id INT
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Chèn dữ liệu vào bảng teacher
spark.sql("""
    INSERT INTO TABLE teacher VALUES
    (1, 'Alice', 'Mathematics'),
    (2, 'Bob', 'Physics'),
    (3, 'Charlie', 'Chemistry')
""")

# Chèn dữ liệu vào bảng student
spark.sql("""
    INSERT INTO TABLE student VALUES
    (1, 'David', 20, 1),
    (2, 'Eve', 22, 2),
    (3, 'Frank', 21, 3)
""")

# Chèn dữ liệu vào bảng course
spark.sql("""
    INSERT INTO TABLE course VALUES
    (1, 'Calculus', 1),
    (2, 'Quantum Mechanics', 2),
    (3, 'Organic Chemistry', 3)
""")

# Kiểm tra dữ liệu trong bảng teacher
spark.sql("SELECT * FROM teacher").show()

# Kiểm tra dữ liệu trong bảng student
spark.sql("SELECT * FROM student").show()

# Kiểm tra dữ liệu trong bảng course
spark.sql("SELECT * FROM course").show()

# Kết thúc Spark session
spark.stop()

24/06/02 04:00:55 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/06/02 04:00:55 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
24/06/02 04:00:55 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException
24/06/02 04:00:55 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
24/06/02 04:00:55 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
24/06/02 04:00:55 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/06/02 04:00:55 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

+---+-------+-----------+
| id|   name|    subject|
+---+-------+-----------+
|  3|Charlie|  Chemistry|
|  3|Charlie|  Chemistry|
|  2|    Bob|    Physics|
|  1|  Alice|Mathematics|
|  2|    Bob|    Physics|
|  1|  Alice|Mathematics|
|  3|Charlie|  Chemistry|
|  2|    Bob|    Physics|
|  1|  Alice|Mathematics|
+---+-------+-----------+

+---+-----+---+----------+
| id| name|age|teacher_id|
+---+-----+---+----------+
|  1|David| 20|         1|
|  1|David| 20|         1|
|  3|Frank| 21|         3|
|  3|Frank| 21|         3|
|  1|David| 20|         1|
|  2|  Eve| 22|         2|
|  3|Frank| 21|         3|
|  2|  Eve| 22|         2|
|  2|  Eve| 22|         2|
+---+-----+---+----------+

+---+-----------------+----------+
| id|             name|teacher_id|
+---+-----------------+----------+
|  1|         Calculus|         1|
|  3|Organic Chemistry|         3|
|  1|         Calculus|         1|
|  2|Quantum Mechanics|         2|
|  3|Organic Chemistry|         3|
|  2|Quantum Mechanics|         2|
|  2|Quantum Mechanics|         2|
|  1|         Calculus|         1|
|  3|Organic Chemistry|         3|
+---+-----------------+----------+

In [4]:
from pyspark.sql import SparkSession

# Tạo Spark session với hỗ trợ Hive
spark = SparkSession.builder \
    .appName("HiveExample") \
    .config("spark.sql.warehouse.dir", "/user/hive/warehouse") \
    .enableHiveSupport() \
    .getOrCreate()

# Tạo cơ sở dữ liệu
spark.sql("CREATE DATABASE IF NOT EXISTS student")

# Chọn cơ sở dữ liệu
spark.sql("USE student")

# Tạo bảng teacher
spark.sql("""
    CREATE TABLE IF NOT EXISTS teacher (
        id INT,
        name STRING,
        subject STRING
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Tạo bảng student
spark.sql("""
    CREATE TABLE IF NOT EXISTS student (
        id INT,
        name STRING,
        age INT,
        teacher_id INT
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Tạo bảng course
spark.sql("""
    CREATE TABLE IF NOT EXISTS course (
        id INT,
        name STRING,
        teacher_id INT
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
""")

# Chèn dữ liệu vào bảng teacher
spark.sql("""
    INSERT INTO TABLE teacher VALUES
    (1, 'Alice', 'Mathematics'),
    (2, 'Bob', 'Physics'),
    (3, 'Charlie', 'Chemistry')
""")

# Chèn dữ liệu vào bảng student
spark.sql("""
    INSERT INTO TABLE student VALUES
    (1, 'David', 20, 1),
    (2, 'Eve', 22, 2),
    (3, 'Frank', 21, 3)
""")

# Chèn dữ liệu vào bảng course
spark.sql("""
    INSERT INTO TABLE course VALUES
    (1, 'Calculus', 1),
    (2, 'Quantum Mechanics', 2),
    (3, 'Organic Chemistry', 3)
""")

# Kiểm tra dữ liệu trong bảng teacher
spark.sql("SELECT * FROM teacher").show()

# Kiểm tra dữ liệu trong bảng student
spark.sql("SELECT * FROM student").show()

# Kiểm tra dữ liệu trong bảng course
spark.sql("SELECT * FROM course").show()

# Kết thúc Spark session
spark.stop()

24/06/02 04:00:59 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/06/02 04:00:59 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
24/06/02 04:00:59 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException
24/06/02 04:00:59 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
24/06/02 04:00:59 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
24/06/02 04:00:59 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/06/02 04:00:59 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

+---+-------+-----------+
| id|   name|    subject|
+---+-------+-----------+
|  3|Charlie|  Chemistry|
|  3|Charlie|  Chemistry|
|  2|    Bob|    Physics|
|  1|  Alice|Mathematics|
|  2|    Bob|    Physics|
|  1|  Alice|Mathematics|
|  3|Charlie|  Chemistry|
|  3|Charlie|  Chemistry|
|  2|    Bob|    Physics|
|  2|    Bob|    Physics|
|  1|  Alice|Mathematics|
|  1|  Alice|Mathematics|
+---+-------+-----------+

+---+-----+---+----------+
| id| name|age|teacher_id|
+---+-----+---+----------+
|  1|David| 20|         1|
|  2|  Eve| 22|         2|
|  1|David| 20|         1|
|  3|Frank| 21|         3|
|  1|David| 20|         1|
|  3|Frank| 21|         3|
|  1|David| 20|         1|
|  2|  Eve| 22|         2|
|  3|Frank| 21|         3|
|  2|  Eve| 22|         2|
|  3|Frank| 21|         3|
|  2|  Eve| 22|         2|
+---+-----+---+----------+

+---+-----------------+----------+
| id|             name|teacher_id|
+---+-----------------+----------+
|  2|Quantum Mechanics|         2|
|  1|         Calculus|         1|
|  3|Organic Chemistry|         3|
|  1|         Calculus|         1|
|  2|Quantum Mechanics|         2|
|  3|Organic Chemistry|         3|
|  3|Organic Chemistry|         3|
|  2|Quantum Mechanics|         2|
|  2|Quantum Mechanics|         2|
|  1|         Calculus|         1|
|  1|         Calculus|         1|
|  3|Organic Chemistry|         3|
+---+-----------------+----------+

In [1]:
import happybase

# Kết nối đến HBase
connection = happybase.Connection('localhost')

# Tạo bảng
connection.create_table('student', {'info': dict()})

# Lấy bảng
table = connection.table('student')

# Chèn dữ liệu
table.put(b'1', {b'info:name': b'David', b'info:age': b'20'})
table.put(b'2', {b'info:name': b'Eve', b'info:age': b'22'})
table.put(b'3', {b'info:name': b'Frank', b'info:age': b'21'})

# Kiểm tra dữ liệu
for key, data in table.scan():
    print(key, data)

TTransportException: TTransportException(type=1, message="Could not connect to ('localhost', 9090)")